<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="user_question">
  <input type="submit" value="Ask!">
</form>
<h2>You can :</h2>
<li>I am going to work</li>
<li>A question with ?</li>
<li>Or another text</li>
